# Laravel
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# User core
/user/core/vendor
/user/core/node_modules
/user/core/.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Zip files
*.zip
