# Laravel
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Env files
.env
.env.*
/user/core/.env
/user/core/.env.*

# Storage & logs
/user/core/storage/debugbar/*
/user/core/storage/framework/views/*
/user/core/storage/framework/cache/*
/user/core/storage/framework/sessions/*
/user/core/storage/logs/*
/storage/debugbar/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/logs/*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Zip files
*.zip

